body {
    background-color: #181818;
    color: #E0E0E0;
    font-size: 1em;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

header, footer {
    width: 100%;
    background-color: #222;
    overflow: hidden;
    color: #E0E0E0;
    font-weight: bold;
}

header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    background: #2a2a2a; /* Example background color for visibility */
    color: white; /* Example text color for visibility */
}

main {
    padding-top: 55px; /* Adjusted to account for the header */
    padding-bottom: 55px; /* Adjusted to account for the footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 45px - 45px);
    width: 100%; /* Ensure it takes full width */
}

#contentArea {
    width: 100%; /* Ensure it takes full width */
    max-width: 90%; /* Set a maximum width for better readability */
    margin: 0 auto; /* Center the content */
    padding: 0 20px; /* Horizontal padding for inner content */
}

h2 {
    font-size: 1em;
}

/* General Button Styles */
button {
    font-size: 1.2rem;
    padding: 12px 20px;
    background-color: #3A3A3A;
    border: none;
    border-radius: 5px;
    color: #B0B0B0;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 5px;
}

button:hover {
    background-color: #555;
}

/* Card Styles */
.card {
    border: 1px solid #444;
    background-color: #2a2a2a;
    margin-right: auto;
    margin-left: auto;
    border-radius: 12px;
    max-width: 40em;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    transform-origin: top center;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    align-self: flex-start;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 10px;
}

/* Form Styles */
.form-group {
    margin-bottom: 20px;
}

select {
    font-size: 0.9rem;
    appearance: none;
    background-color: #3A3A3A;
    border: none;
    color: #E0E0E0;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 10px;
}

select:hover {
    background-color: #555;
}

input[type="number"] {
    font-size: 1.2rem;
    padding: 12px 20px;
    background-color: #3A3A3A;
    border: none;
    color: #E0E0E0;
    border-radius: 5px;
    width: 10%;
    text-align: center;
    appearance: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="number"]:hover {
    background-color: #555;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

input[type="number"]::-moz-focus-inner {
    border: 0;
}

/* Footer Navigation Styles */
nav {
    display: flex;
    justify-content: center;
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    text-decoration: none;
    color: #E0E0E0;
    font-size: 14px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #3A3A3A;
    color: #B0B0B0;
}

nav a img {
    border-radius: 5px;
    width: 40%;
    display: block;
    transition: background-color 0.3s;
}

nav a:hover img {
    background-color: #555;
}

@media (max-width: 600px) { /* Adjust the max-width as needed */
    .page {
        max-width: 70%;
    }
    .card {
        width: 90%; /* Reduce width to fit small screens */
        margin: 10px; /* Add some margin */
        padding: 10px; /* Reduce padding */
    }

    nav a {
        padding: 8px 10px; /* Reduce padding on small screens */
        font-size: 12px; /* Adjust font size */
    }

    nav a img {
        width: 20%px; /* Adjust image size */
    }

    /* Adjust footer layout */
    footer {
        font-size: 12px; /* Smaller text in footer */
    }
}


.visible {
    display: block !important;
}

.invisible {
    display: none !important;
    visibility: hidden !important; /* Ensure content is hidden */
}

.page {
    padding-top: 60px;
    padding-bottom: 70px;
    max-height: calc(100vh - 130px); /* Adjusted to account for the fixed header and footer */
    overflow-y: auto;
    width: 90%; /* Ensure it takes full width */
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.page::-webkit-scrollbar {
    display: none;
}

/* Label styles */
label {
    display: flex;
    align-items: center; /* Aligns the text vertically in the middle */
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="date"],
input[type="date"]:hover,
input[type="date"]:focus {
    font-size: 1.2rem;
    padding: 12px 20px;
    background-color: #3A3A3A;
    border: none;
    color: #E0E0E0;
    border-radius: 5px;
    width: 95%;
    cursor: pointer;
    transition: background-color 0.3s;
    appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

#pastDataInput {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

#pastDataInput div {
    margin-bottom: 20px;
}

/* Settings Page Title */
#settingsPage h2, #predictPage h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Adjust margin for buttons within the settings page */
#settingsPage button {
    margin-top: 10px;
}

/* Style for checkboxes */
input[type="checkbox"] {
    appearance: none;
    width: 2%;
    height: 20px;
    background-color: #3A3A3A;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    outline: none;
    margin-top: 9px;
}

input[type="checkbox"]:checked {
    background-color: #E0E0E0;
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 30%;
    height: 12px;
    border: solid #181818;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Custom Search Bar Styles */
#searchBar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px auto; /* Centering and margin at bottom */
}

#searchInput {
    flex: 1; /* Take available space */
    padding: 10px;
    border-radius: 5px 0 0 5px; /* Rounded corners on the left */
    border: 1px solid #444; /* Dark border */
    background-color: #2a2a2a; /* Dark background */
    color: #E0E0E0; /* Light text */
    font-size: 1rem;
    height: 100%; /* Ensure full height */
    min-width: 10%;
}

/* Card Styles */
.period-entry {
    background-color: #2a2a2a;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #444;
}

.period-entry:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Details Toggle Styles */
.toggle-icon {
    display: inline-block;
    width: 50%;
    height: 16px;
    background-image: url('path_to_your_icon.png');
    transition: transform 0.3s ease;
}

/* Add these new classes to your CSS */
.period-entry-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; /* Adjust timing as needed */
    padding: 0 15px;
    border-top: 1px solid #444;
}

.period-entry-details-expanded {
    max-height: 10em;  /* or any other value that works for your content */
    padding: 10px 15px;
}

#historyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
}

#sortAndSearchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#searchAndSortContainer {
    display: flex;
    border: 1px solid #444;
    border-radius: 5px;
    width: 100%;
    max-width: 70%;
    margin: 0 auto 20px auto; /* Centering and margin at bottom */
    align-items: center; /* Center-align children vertically */
    position: relative; /* Relative positioning for this container */
}

#sortContainer {
    border-left: 1px solid #444;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Center the icon vertically */
    border-radius: 0 5px 5px 0; /* Round right corners to match container */
    background-color: #2a2a2a; /* Match background color of searchInput */
}

.sort-icon {
    transition: transform 0.3s; /* smooth transition */
    width: 20px;
    height: 20px;
}

.sort-icon-flipped {
    width: 20px;
    height: 20px;
    transform: rotate(180deg); /* flip the icon */
}

.dropdown {
    position: absolute;
    top: 100%; /* Position dropdown right below the container */
    right: 0; /* Align dropdown to the right side */
    margin-top: -1px; /* Adjust margin to cover border */
}

.dropdown-content {
    right: 10px;
    display: none;
    position: absolute;
    right: 0;
    background-color: #2a2a2a; /* Updated to match dark theme */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden; /* Added for rounded corners */
}

.dropdown-content a {
    color: #E0E0E0; /* Updated to match dark theme */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #444; /* Updated to match dark theme */
}

.show {
    display: block;
}

.prediction-card {
    margin-top: 20px; /* or whatever margin you prefer */
}

.prediction-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #444; /* Dark border between items */
    padding: 10px 0; /* Padding to space out the items */
    width: 100%; /* Full width of parent */
}

.prediction-title {
    color: #B0B0B0; /* Lighter text for the title */
    font-weight: bold;
    padding-left: 1em;
}

.prediction-value {
    color: #E0E0E0; /* Standard text color for the values */
    padding-right: 1em;
}

/* Last item should not have a border */
.prediction-card .prediction-item:last-child {
    border-bottom: none;
}
